<!DOCTYPE html>
<html>
  <head>
    <title ng-bind="pageTitle">Ripple Charts Directives Test</title>
    <link rel="icon" type="image/ico" href="assets/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- D3 needs this -->
    <meta charset="utf-8">

    <script>
      API      = "REPLACEME";
    </script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body ng-controller="AppCtrl">
    <div ripplecharts-price base="base" trade="trade"></div>
    <br><hr><br><br><hr><br>
    <div ripplecharts-book base="base" trade="trade"></div>
    <br><hr><br><br><hr><br>
    <div ripplecharts-tradefeed base="base" trade="trade"></div>
  </body>
</html>
